.todoList {
  text-align: center;
}

.todoArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.todo {
  align-self: center;
  height: 18rem;
  width: 18rem;
  color: black;
  font-size: 2.5rem;
  background: #ffc;
  border-bottom: 10px black;
}

.todocompleted {
  align-self: center;
  height: 18rem;
  width: 18rem;
  color: black;
  font-size: 2.5rem;
  text-decoration: line-through;
  background: #ffc;
}

.todoInfo {
  font-size: 2rem;
}

.form {
  margin: 10%;
  color: white;
  font-size: 2rem;
}

button {
  font-size: 1.6rem;
  font-family: Reenie Beanie;
  margin: 10px;
  margin-right: 0px;
  background-color: #ffc;
  color: black;
  border: 2px solid #ffc;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(121, 120, 120, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.title {
  color: white;
  font-size: 5rem;
}
