body {
  margin: 0;
  font-family: "Reenie Beanie", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(73, 73, 73);
}

code {
  font-family: "Reenie Beanie", monospace;
}
